{% extends 'mysite/base.html' %}
 
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                {{article.title}}
            </h3>
            <p class="small text-muted text-right">{{article.create_at}} {{article.auther}}</p>
            <p>{{article.text}}</p>
        </div>

        {% include 'mysite/snippets/sidebar.html' %}

    </div>
</main>
 
<footer class="border-top py-5 text-center bg-light mt-4">
    <p>
        <a href="/">トップに戻る</a>
    </p>
</footer>
 
{% endblock %}