{% extends 'mysite/base.html' %}
 
{% block content %}
 
<div class="container">
    <header class="py-3">
        <div class="row flex-nowrap justify-content-center align-item-center">
            <div class="col-4 text-center">
                <h1 class="display-4 font-italic">ReallySite</h1>
            </div>
        </div>
    </header>
    <div class="py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" href="#">ブログ</a>
            <a class="p-2 link-secondary" href="#">お問い合わせ</a>
            <a class="p-2 link-secondary" href="#">メニュー３</a>
        </nav>
    </div>
</div>
 
 
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                Django Lesson
            </h3>


            {% for obj in page_obj %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ obj.title }}</h2>
                <p class="blog-post-meta">{{ obj.create_at }} by 
                    <a href="#">{{ obj.auther }}</a>
                </p>
                <p>{{ obj.text }}</p>
                <a href="/blog/{{obj.id}}" >
                    続きはこちらから
                </a>
                <hr>
            </div>
            {% endfor %}


            {% include 'mysite/snippets/pagination.html' %}
            

        </div>

        {% include 'mysite/snippets/sidebar.html' %}

    </div>
</main>
 

{% endblock %}